/*
Theme Name: JIN Child - Kanucard LP
Theme URI: https://kanucard.com
Author: Kanucard Team
Author URI: https://kanucard.com
Description: JINテーマの子テーマ - カスタムランディングページ機能付き
Template: jin
Version: 1.0.0
License: GPL v2 or later
Text Domain: jin-child-kanucard
*/

/* 子テーマ用の追加スタイル */
/* LP専用スタイルはassets/css/lp.cssに記載 */